# Binaries
/bin/
/dist/
/novel-studio
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out

# Databases & local user configs
*.db
*.db-journal
*.db-wal
*.db-shm
.novel-studio/

# OS metadata
.DS_Store
Thumbs.db

# Frontend Dependencies
node_modules/
web/node_modules/

